<%- include('../partial/header') %> 

<% recipe.forEach(function(r){ %>

    <p class="heading">CSS Gallery</p>
    <a href="/cookbook/<%= r._id %>"><div class="gallery-image">
      <div class="img-box">
        <img src="<%= r.picture %>" alt="" />
        <div class="transparent-box">
          <div class="caption">
            <p><%= r.recipe %></p>
            <p class="opacity-low"><%= r.description %> </p>
          </div>
        </div> 
      </div></a>
    </div>
    
    <% }) %>  

    <%- include('../partial/footer') %> 