<%- include('../partial/header') %> 

    <div id='recipe'><h1><%= recipe.recipe %></h1></div>
    <section>
      <main>
        <div class='ingredients'>Ingredients</div>
        <div class='ingredients'><%= recipe.ingredient %></div>
        <br>
        <h1 class='instructions'>Instructions</h1>
        <div class='instructions'><%= recipe.instruction %></div>
        <br>
    </main>
    <aside>
      <h1 class='description'>Description:</h1>
      <div class='description'><%= recipe.description %></div>
      <img src="<%= recipe.picture %>" alt="food">
    </aside>

  </section><br>

  <footer>
    <h2 class="review">How did you like it?</h2>
    <form
      id="add-review-form"
      method="POST"
      action="/cookbook/<%= id %>/reviews"
      ><br>
      <label class="review">Review:</label>
      <textarea name="description"></textarea>
      <label class="review">Rating:</label>
      <select class="review" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Add Review" />
    </form>
    
    <% if (recipe.review.length) { %>

      <div>Review</div>
      <div>Rating</div>
        <% recipe.review.forEach(function(r) { %>
        <div><%= r.description %></div>
        <div><%= r.rating %></div>
        <% }); %>

    <% } else { %>
      <h5>No Reviews Yet</h5>
    
      <% } %>

    <% recipe.review.forEach(function(r) { %>
      <div class="comment">
        <%= r.description %>
        <%= r.rating %> <br>
        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
      </div>
    <% }) %>

    <% recipe.review.forEach(function(r){ %> 
      <div>
        <form action="/reviews/<%= r._id %>?_method=PUT"    method="POST">
          <button type='submit'>Update Comment</button>
          <input type="text" 
            name="description" 
            value="<%= r.description %>">
          <select name="rating" 
          value='<%= r.rating %>'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
          </select>
        </form>
      </div>
    <% }) %>
  </footer>

  <%- include('../partial/footer') %> 