<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/"/>
  <title>Recipe</title>
</head>
<body>
  <div>
    <a href="/cookbook">
      Back
    </a>
  </div>
  <div>Recipe:</div>
    <div><%= recipe.recipe %></div>
    <div>Ingredient:</div>
    <div><%= recipe.ingredient %></div>
    <div>Instruction:</div>
    <div><%= recipe.instruction %></div>
    <div>Description:</div>
    <div><%= recipe.description %></div>
  </section>
  
  <br><br>
  <h2>How did you like it?</h2>
  <form
    id="add-review-form"
    method="POST"
    action="/cookbook/<%= id %>/reviews"
    >
    <label>Review:</label>
    <textarea name="description"></textarea>
    <label>Rating:</label>
    <select name="rating">
       <!-- The name property is the key on req.body in our controller function that form is submitting to -->
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Review" />
  </form>
  
  <% if (recipe.review.length) { %>

    <table>
      <thead>
        <tr>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% recipe.review.forEach(function(r) { %>
          <tr>
            <td><%= r.description %></td>
            <td><%= r.rating %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  
    <% } %>

  <% recipe.review.forEach(function(r) { %>
    <div class="comment">
      <%= r.description %>
      <%= r.rating %> <br>
      <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
    </div>
  <% }) %>

  <% recipe.review.forEach(function(r){ %> 
    <div>
      <input type="text" 
        name="description" 
        value="<%= r.description %>"
      >
      <select name="rating" 
        value='<%= r.rating %>'
        >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <form action="/reviews/<%= r._id %>?_method=PUT"    method="POST">
        <button type='submit'>Update Comment</button>
      </form>
    </div>

  <% }) %>
</body>
</html><section id="show-page">  