<%- include('../partial/header') %> 

  <main>

    <div>
      <img src='<%=recipe.picture %>' id="recipe-image" alt="food" width='600' height='400'>
    </div>

    <div id="recipe-name">
      <h1><%= recipe.recipe %> </h1>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span><h4><%= recipe.review.length %> Reviews</h4></span>
    </div>
    <div id="recipe-description">
      <h4><%= recipe.description %> </h4>
    </div>
    <div id="food-info">
      <div id="ingredients">
        <h1>Ingredients</h1>
        <p><%= recipe.ingredient %> </p>
      </div>

      <div id="instructions">
        <h1>Directions</h1>
        <p><%= recipe.instruction %> </p>
      </div>
    </div>
    <br>
    <br>

  </main>


  <hr>
  <br>
  
  <article>

    <div class="reviews">
      <h1>Add a review</h1>
  
      <form method="POST" action="/cookbook/<%= id %>/reviews">
        <br>
        <textarea name="description" cols="80" rows="3">Write your review here!</textarea>
        <div id="rating-box">
          <label>
            <h2>Your Rating:</h2>
            <select name="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </label>
          <input type="submit" value="Submit Review">
        </div>
      </form>
    </div>

    <br>

    <div class="reviews">
      <h1>Reviews</h1>

      <% if (recipe.review.length) {  %>

        <% recipe.review.forEach(function(r){ %>

          <div class="review-card">
            <p id="review-card-title"><span>Review</span>Rating: <%= r.rating %> </p>
            <br>
            <p><%= r.description %> </p>
          </div>
        
        <% }) %> 
      
      <% } else { %>

        <h5>Be the first to leave a review!</h5>
      
        <% } %>

      <h1>Delete Your Reviews</h1>

      <% recipe.review.forEach(function(r) { %>

        <div class="review-card">
          <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
            <p id="review-card-title"><span>Review</span><button type="submit">X</button></p>
            <br>
            <p><%= r.description %> </p>
          </form>
        </div>
        
      <% }) %>

      <h1>Update Your Reviews</h1>

      <% recipe.review.forEach(function(r){ %> 
        <div>
          <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
            <div class="review-card">
              <p id="review-card-title"><span>Review</span>Update Rating: <%= r.rating %> </p>
              <br>
              <select name="rating" value='<%= r.rating %>'>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
              </select>
              <p><%= r.description %> </p>
              <br>
              <input type="text" name="description" value="Edit Review Here!">
              <button type='submit'>Update Review</button>
            </div>
          </form>
        </div>
      <% }) %>
  </div>

  </article>

<%- include('../partial/footer') %> 